@tailwind utilities;

.markdown {
  @apply leading-loose;
}

/* heading */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply mt-10 mb-6 font-bold;
}

.markdown h1 {
  @apply text-3xl md:text-4xl;
}
.markdown h2 {
  @apply text-2xl md:text-3xl;
}
.markdown h3 {
  @apply text-xl md:text-2xl;
}
.markdown h4 {
  @apply text-lg md:text-xl;
}
.markdown h5 {
  @apply text-base;
}
.markdown h6 {
  @apply text-base;
}

/* paragraph */
.markdown p {
  @apply my-4;
}

/* anchor */
.markdown a {
  @apply text-blue-600 underline dark:text-blue-500;
}

/* inline code */
.markdown p code {
  @apply px-2 py-1 bg-zinc-200 text-zinc-800 text-sm font-semibold rounded-md dark:bg-zinc-800 dark:text-zinc-200;
}

/* table */
.markdown tr {
  @apply border-t border-b border-zinc-200;
}
.markdown th,
.markdown td {
  @apply py-2 px-4;
}

/* list */
.markdown ol,
.markdown ul {
  @apply pl-8;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
.markdown li::marker {
  @apply text-zinc-500;
}

/* pre */
.markdown .hljs {
  tab-size: 2 !important;
  @apply !my-4 !rounded-xl font-mono text-sm font-semibold scroll-none;
}

/* blockquote */
.markdown blockquote {
  @apply relative pl-6 text-zinc-800 italic dark:text-zinc-400;
}
.markdown blockquote::before {
  content: "";
  @apply absolute inset-0 right-auto bg-zinc-500 w-2;
}

@layer utilities {
  .scroll-none {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .scroll-none::-webkit-scrollbar {
    display: none;
  }
}
