@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-lg bg-white dark:bg-black dark:text-zinc-200;
}

@layer components {
  .markdown {
    @apply leading-normal;

    /* heading */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-10 mb-6 font-bold;
    }

    h1 {
      @apply text-3xl md:text-4xl;
    }
    h2 {
      @apply text-2xl md:text-3xl;
    }
    h3 {
      @apply text-xl md:text-2xl;
    }
    h4 {
      @apply text-lg md:text-xl;
    }
    h5 {
      @apply text-base;
    }
    h6 {
      @apply text-base;
    }

    /* paragraph */
    p {
      @apply my-4;
    }

    /* anchor */
    a {
      @apply text-blue-600 underline dark:text-blue-500;
    }

    /* inline code */
    p code {
      @apply px-2 py-1 text-sm font-semibold rounded-md bg-zinc-200 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-200;
    }

    /* table */
    tr {
      @apply border-t border-b border-zinc-200;
    }
    th,
    td {
      @apply px-4 py-2;
    }

    /* list */
    ol,
    ul {
      @apply pl-8;
    }
    ol {
      @apply list-decimal;
    }
    ul {
      @apply list-disc;
    }
    li::marker {
      @apply text-zinc-500;
    }

    /* blockquote */
    blockquote {
      @apply relative pl-6 italic text-zinc-800 dark:text-zinc-400;

      &::before {
        content: "";
        @apply absolute inset-0 right-auto w-2 bg-zinc-500;
      }
    }
  }
}

/* prism */
@layer components {
  pre[class*="language-"] {
    @apply p-4 my-4 -mx-4 overflow-auto text-sm font-semibold bg-neutral-900 sm:-mx-4 sm:rounded-md;
  }
  pre[class*="language-"], code[class*="language-"] {
    @apply font-mono;
  }
}

@layer utilities {
  .scroll-none {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .scroll-none::-webkit-scrollbar {
    display: none;
  }
}
